:root { 
--cyan_A400:#12e1ff; 
--cyan_A200:#41ffff; 
--blue_gray_100_01:#d2d2d2; 
--gray_900_99:#102e2d99; 
--red_100:#f1d7c8; 
--red_100_01:#f1d7c7; 
--black_900:#000000; 
--blue_gray_900_02:#131b42; 
--blue_gray_800:#245756; 
--blue_gray_900_01:#1d4645; 
--blue_gray_900:#333333; 
--red_A700:#fa0a0a; 
--deep_orange_100:#e8c5b0; 
--gray_700:#5e5e5e; 
--black_900_0a:#0000000a; 
--blue_gray_900_9a:#102f2e9a; 
--blue_gray_100:#d3d3d3; 
--gray_800:#3e3e3e; 
--gray_900:#0b2322; 
--gray_900_01:#0c2323; 
--white_A700_80:#ffffff80; 
--blue_gray_900_7f:#3333337f; 
--gray_200:#efefef; 
--gray_300:#dadada; 
--gray_100:#f2f2f2; 
--orange_50:#fff2e6; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_59:#00000059; 
}